  html {
    font-size: 12px;
    font-family: Gotham, Helvetica;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #383838;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .logoText {
    color: white;
    margin: 0;
    font-size: 1.5rem;
    width: min-content;
    display: inline-block;
  }
  
  .headerLink {
    list-style: outside;
    color: #888888;
    padding: 3px 5px;
    text-decoration: none;
  }
  
  .headerLink_home {
    color: #d35266;
  }
  
  .headerMenu {
    color: #888888;
    list-style: none;
  }
  
  .headerButton {
    background-color: #d35266;
    border: 0;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    display: none;
  }
  
  .hotAds {
    height: 120px;
  }
  
  .hotAdsImg {
    width: 180px;
    background-image: url(images/sax.jpg);
    background-size: contain;
  }
  
  .hotAds__sectionTitle {
    margin-left: 50px;
  }
  
  .hotAds_slide {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .main__hotAds {
    width: 90%;
    max-width: 768px;
    margin: auto;
    display: none;
  }
  
  .main__header {
    width: 100%;
  }
  
  .search {
    background-color: #d35266;
    padding: 2rem;
    display: none;
  }
  
  .search__searchForm {
    margin: 20px auto 0 auto;
    width: 90%;
    max-width: 750px;
  }
  
  .search__title,
  .search__slogan {
    margin: auto;
    width: fit-content;
    line-height: 2rem;
  }
  
  .searchForm {
    display: flex;
    justify-content: space-between;
    height: 2rem;
  }
  
  .searchFormElement {
    color: #383838;
    border: 0;
    margin-left: 0.1rem;
    flex-grow: 1;
  }
  
  .searchFormElement_button {
    background-color: #383838;
    color: #888888;
    height: 2rem;
    margin-left: 0.6rem;
  }
  
  .slide {
    width: 2rem;
    height: 2rem;
    color: #d35266;
    border: 1px solid #888888;
    border-radius: 1.5rem;
    line-height: 1rem;
    padding-left: -2rem;
    padding-top: 0.45rem;
    text-align: center;
    font-weight: 900;
  }
  
  .slide::after {
    content: ">";
    display: inline-block;
    width: 0.1rem;
    height: 0.1rem;
    border-top: 2px solid #d35266;
    border-left: 2px solid #d35266;
    transform: scaleY(2);
  }
  
  .slogan,
  .title {
    color: white;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .sectionTitle {
    color: #888888;
    text-transform: uppercase;
  }
  
  @media screen and (min-width: 425px) {
    html {
      font-size: 14px;
    }
    .logoText {
      width: fit-content;
    }
  }
  
  @media screen and (min-width: 768px) {
    html {
      font-size: 16px;
    }
    .header {
      padding: 10px 50px;
    }
    .headerButton {
      display: block;
    }
    .main__hotAds {
      display: block;
    }
    .search {
      display: block;
    }
  }
